.mo-bar.mo-bar-transparent {
    background: rgba(49,49,49,.35);
    -wekbit-box-shadow: none;
    box-shadow: none;
    color: rgb(255, 255, 255);;
}

.mo-tabs-icon-top .mo-tab-item .mo-icon.fa {
    font-size: 26px;
    padding-top: 4px;
}

.mo-scroll-pulldown-label, .mo-scroll-pullup-label {
    color: #999
}

.mo-scroll-pulldown, .mo-scroll-pullup {
    background: #fff;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 0.8em;
    color: #888
}

.mo-scroll-pulldown .mo-scroll-pulldown-icon, .mo-scroll-pullup .mo-scroll-pullup-icon {
    display: block;
    float: left;
    opacity: 0.4;
    width: 40px;
    height: 40px;
    background: url(../images/pull_to_refresh.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    -ms-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -ms-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
    -ms-transition-duration: 250ms
}

.mo-scroll-pulldown .mo-scroll-pulldown-icon {
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0)
}

.mo-scroll-pullup .mo-scroll-pullup-icon {
    -webkit-transform: rotate(-180deg) translateZ(0);
    -ms-transform: rotate(-180deg) translateZ(0)
}

.mo-scroll-pulldown.flip .mo-scroll-pulldown-icon {
    -webkit-transform: rotate(-180deg) translateZ(0);
    -ms-transform: rotate(-180deg) translateZ(0)
}

.mo-scroll-pullup.flip .mo-scroll-pullup-icon {
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0)
}

.mo-scroll-pulldown.mo-loading .mo-scroll-pulldown-icon, .mo-scroll-pullup.mo-loading .mo-scroll-pullup-icon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -ms-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -ms-animation-name: loading;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-timing-function: linear
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0)
    }

    to {
        -webkit-transform: rotate(360deg) translateZ(0)
    }
}

@-ms-keyframes loading {
    from {
        -ms-transform: rotate(0deg) translateZ(0)
    }

    to {
        -ms-transform: rotate(360deg) translateZ(0)
    }
}